html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --accent-color: #2196f3;
  --titles-color: #212121;
  --text-color: #757575;
  --background-color: #2f303a;
  --button-color: #f5f4fa;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --hero: #ffffff;
  --background-secondary: #f5f5f5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* --------------------------------- --container--------------------------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* -------------------------------------container-------------------------- */
/* -------------------------------------logo------------------------------- */
.logo-accent {
  color: var(--accent-color);
}

.logo-header {
  color: var(--logo-header);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* -------------------------------------logo--------------------------------- */

/* -------------------------------------header------------------------------- */
.header-container {
  display: flex;
  align-items: center;
}
.item-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.contacts-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}
.link-text {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-text:hover,
.link-text:focus {
  color: var(--accent-color);
}
.header-icon {
  fill: currentColor;
}
.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link-current {
  position: relative;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link-current::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}
/* ------------------------------------header-------------------------------------------------- */
/* ------------------------------------hero---------------------------------------------------- */
.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button-main {
  display: flex;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  min-width: 216px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
  background-color: #188ce8;
}

/* -------------------------------------------hero---------------------------------------- */

/* =========чим ми займаємося======= */

.features-list-demo {
  width: 70px;
  height: 70px;
}
.features-list-demo-bg {
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.works-item {
  position: relative;
}
.overlay-title {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/*-----------------------------------кнопки портфоліо-------------------------------------------------  */
.button:hover,
.button:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  text-align: center;
  background-color: var(--button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  margin-left: 8px;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----------------------------------кнопки портфоліо-------------------------------------------------  */

.text-main {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features {
  padding-top: 94px;
}
.features-container {
  display: flex;
}
.features-container .features-list:not(:last-child) {
  margin-right: 30px;
}
.features-list {
  min-width: 270px;
}
.work-list {
  padding-top: 94px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 50%;
}
.social-icon {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title-clients {
  padding-top: 94px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--titles-color);
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.client-icon {
  fill: currentColor;
}
.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}

.title-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title-secondary {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.text-secondary {
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.gallery {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.works-list {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}
.team {
  background-color: var(--background-secondary);
  padding-bottom: 94px;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
  margin-bottom: 50px;
  padding-top: 94px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.name-function {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-background {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--titles-color);

  text-align: center;
}

.function {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.item-secondary {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.button-container {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.sheet {
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sheet:hover {
  /* transform: translateY(-35px); */
  /* opacity: 1; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.test-div {
  position: relative;
}
.sheet:hover .test-div .overflow-cards {
  opacity: 1;
}
/* =======================синий фон на карточках=================== */
/* .test-div::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243,0.9);
  opacity: 0;
}


/* =======================синий фон на карточках=================== */

.overflow-cards {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 23px;

  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  opacity: 0;
  font-size: 18px;
  line-height: 1.55;

  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.title-text-secondary {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ------------------------------------------------footer----------------------------- */
footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.fotter-container {
  display: flex;
}
.logo-footer {
  color: var(--logo-footer);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.address-map {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-map:hover,
.address-map:focus {
  color: var(--accent-color);
}

.contacts-footer {
  color: var(--contacts-footer);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.place {
  margin-top: 20px;
}
.mail-fotter {
  margin-top: 9px;
}
.tel-fotter {
  margin-top: 9px;
}

.footer-addres-list {
  margin-right: 70px;
}
.connect {
  display: flex;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}
.social-footer-icon {
  fill: currentColor;
}

.social-footer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-info {
  margin-top: 12px;
  margin-bottom: 40px;
}
